@{
    ViewData["Title"] = "Elevador";
}

<div class="presentation">
    <h2>Segue abaixo o funcionamento do elevador desenvolvido!</h2>
</div>
<br></br>
<div>
  <h4>Desenvolvido totalmente com a linguagem de programação C#.</h4>
  <h4>O elevador tem as seguintes funções em sua composição: </h4>
  <br></br>
   <ol class="list">
     <li>Subir 1 andar</li>
     <li>Descer 1 andar</li>
     <li>Adicionar 1 pessoa ao elevador</li>
     <li>Remover 1 pessoa do elevador</li>
     <li>Parar elevador e sair</li>
   </ol>
   <br></br>
   <h4>Todas as funções são executadas um de cada vez, ou seja, a cada função executada é solicitado que o usúario informe ao programa qual será sua próxima ação/função execuando-as uma de cada vez.</h4>
</div>
