@{
    ViewData["Title"] = "Elevador";
}

<div>
   <h4>Projeto Elevador - Construido totalmente com a linguagem de programação C#.</h4>
   <h4>Assim que o programa for iniciado será solicitado três entradas do úsuario, conforme abaixo:</h4>
   <br></br>
   <ul class="list">
    <li>Total de andares do prédio em que se localiza o elevador</li>
    <li>Capacidade total de pessoas que o elevador pode suportar</li>
    <li>Quantidade total de pessoas que já se encontram dentro do elevador</li>
   </ul>
   <br></br>
   <h4>O elevador contém as seguintes funções em sua composição: </h4>
   <br></br>
   <ol class="list">
     <li>Subir 1 andar</li>
     <li>Descer 1 andar</li>
     <li>Adicionar 1 pessoa ao elevador</li>
     <li>Remover 1 pessoa do elevador</li>
     <li>Parar elevador e sair</li>
   </ol>
   <br></br>
   <h4>Todas as funções são executadas um de cada vez, ou seja, a cada função executada é solicitado que o usúario informe ao programa qual será sua próxima ação/função execuando-as uma de cada vez.</h4>
   <br></br>
   <h4>Assim que o usúario selecionar a opção 5 (Parar elevador e sair), será questionado ao usúario se ele deseja usar o elevador novamente ou não. Caso o mesmo decida usar o elevador novamente o mesmo irá definir todas caracteriscas do elevador novamente e poder executar todas funções do mesmo novamente.</h4>
</div>
